@media screen  and (max-width: 1385px) {
    .menu-container{
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (max-width: 1189px) {
    .menu-container{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        min-width: max-content;
        
    }   

    .menu-item-main-wrapper{
        font-size: 10px;
    }
    
}
/* mobile view starting */
@media screen and (max-width: 1159px) {
    .upper-header{
        /* margin: auto 5%; */
        padding: auto;
        /* margin: auto; */
        margin-top: 4rem;
        margin-left: 1%;
        margin-right: 3%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .hamburger{
        display: block;
    }

    .main-logo{
        margin-left: 1%;
    }

    .main-logo > img{
        width: 17rem;
    }

    .options{
        display: none;
    }

    .menu-container{
        display: none;
    }

    .header-breaker{
        /* display: none; */
        margin-left: auto;
        margin-right: auto;
    }

    .mobile-menu{
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding-top: 0.1rem;
        display: block;
        width: 13rem;
        /* background-color: lightgray; */
        padding-left: 0.5rem;
        position: relative;
        /* margin-bottom: 1rem; */
        /* background: #f0f1f6; */
    }
   
    .mobile-drop_down{
        display: none;
    }

    .mobile-menu-item-main-wrapper{
        padding-bottom: 1rem;
        padding-top: 1rem;
        padding-left: 0.5rem;
    }

    .mobile-menu-item-main-wrapper > a{
        text-decoration: none;
        text-decoration-color: none;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 17px;
        letter-spacing: 0.02em;
        /* padding-bottom: 1rem; */
    
        color: rgba(0, 0, 0, 0.87);
    }

    .mobile-menu-item-main-wrapper > a:hover{
        font-weight: 700;
    }
    
    
    .mobile-options{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
    }
    
    .mobile-options-upper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        width: 100%;
        border-top: 0.5px solid rgba(0, 103, 179, 0.87);
        border-bottom: 0.5px solid rgba(0, 103, 179, 0.87);
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
    }

    .mobile-options-lower-items:hover{
        font-weight: 700;
    }

    #mobile-views{
        order: -1;
    }

    #mobile-text_sizes{
        display: flex;
        justify-content: flex-start;
        gap: 0.2rem;
    }

    .mobile-options-lower{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 0.5rem;
    }

    .mobile-options-lower-items{
        text-decoration: none;
        text-decoration-color: none;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.02em;
    
        color: rgba(0, 0, 0, 0.87);
    }

    .mobile-menu-item :hover .mobile-drop_down{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        text-decoration-color: none;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 17px;
        letter-spacing: 0.02em;
    
        color: rgba(0, 0, 0, 0.87);
        
    }

    .mobile-menu-item-main-wrapper:hover{
        background: #f0f1f6;
    }

    .mobile-menu-item-main-wrapper > a :hover {
        font-weight: bold;
    }

    .mobile-menu-item:hover .mobile-drop_down{
        display: block;
        position: absolute;
        left: 100%;
        top: 0%;
        background: #f0f1f6;;
        min-width: 13rem;
        height: 47rem;
        padding-top: 0.9rem;
        padding-left: 1rem;
    }

    .mobile-menu-item:hover .mobile-drop_down > a{
        display: inline-block;
        text-decoration: none;
        text-decoration-color: none;
        color: inherit;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        /* padding-top: 1rem; */
        /* height: 2rem; */
        padding-bottom: 2rem;
        font-size: large;
    }

}