:root{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
}

.upper-header{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 6rem;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 0;
    padding-bottom: 1%;
}

.hamburger{
    display: none;
}
/* 
.main-logo{
    display: flex;
} */

.g20logo{
    width: 6.25rem;
    margin-left: auto;
    /* display: flex; */
}

#g20-image{
    width: 100%;
}

.options{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* height: 100%; */
}

.options-left{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    padding: 0;
    margin: 0rem 1rem;
}

.options-left-upper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}


.options-left-lower{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 2rem;
    height: 50%;
    border-top: 0.1rem solid black;
}

.options-left-lower-items{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;

    color: #232323;

    /* margin: auto 2rem; */
    /* gap: 1rem; */
}

.text_sizes{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1rem;
    /* margin-left: 2rem; */
}

.text-small{
    width: 0.875rem;
}

.text-reset{
    width: 0.65rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.text-enlarge{
    width: 1.3125rem;
}

.views{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 2.4rem;
}

.day-border{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #000000;

    width: 1.25em;
    height: 1.25em;
    box-sizing: border-box;
    border: 1px solid #1A76BB;
    border-radius: 2px;
}

.night-border{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #F8F8F8;


    width: 1.25em;
    height: 1.25em;
    background: #1A76BB;
    border-radius: 2px;
}

.languages{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 3.6rem;
    /* margin-right: 2rem; */
}

.hindi-image{
    width: 1.9475;
}

.english-image{
    width: 1.7375;
}

.options-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.header-breaker{
    margin-left: 10%;
    margin-right: 10%;
}

.menu-container{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    /* min-width: max-content; */
}

.menu-item{
    position: relative;
}


.menu-item-main-wrapper{
    padding: 0.5rem 0.2rem;
    max-width: fit-content;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    letter-spacing: 0.02em;
    
    color: #232323;
}

.drop_down{
    display: none;
    padding-left: 0.2rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    letter-spacing: 0.02em;
    
    color: #232323;
}

.menu-item-main-wrapper > a{
    text-decoration: none;
    text-decoration-color: none;
    color: inherit;
}

.drop_down > a{
    text-decoration: none;
    text-decoration-color: none;
    color: inherit;
    margin-top: 1rem;
    margin-bottom: 0.5rem;   
    padding-right: 1rem; 
    min-width: 10rem;
}


.menu-item:hover .menu-item-main-wrapper{
    background: #E5ECF4;
}

.menu-item:hover .drop_down{
    background: #E5ECF4;
    display: block;
    /* display: flex; */
    /* flex-direction: column; */
    min-width: fit-content;
}


.mobile-menu{
    display: none;
}

.drop_down > a{
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1rem;
    /* padding-bottom: 1rem; */
}